<!-- Footer -->
<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <!-- Useful Links Column -->
      <div class="col-lg-4 mb-4">
        <h4 class="text-info mb-4">Useful links</h4>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >Ministry of Higher Education and Scientific Research</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >General Directorate for Scientific Research and Technological
              Development</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >Algerian Research Network</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >Research Center for Scientific and Technical Information</a
            >
          </li>
        </ul>
      </div>

      <!-- Digital Libraries Column -->
      <div class="col-lg-4 mb-4">
        <h4 class="text-info mb-4">Digital libraries</h4>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >Engineering Techniques</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >National Online Documentation System</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >Maghreb Virtual Science Library</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >Science Directe</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >World Digital Library</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-light text-decoration-none"
              >Thematic agency for research in the social sciences and
              humanities</a
            >
          </li>
        </ul>
      </div>

      <!-- Contact Column -->
      <div class="col-lg-4 mb-4">
        <h4 class="text-info mb-4">Contact</h4>
        <ul class="list-unstyled">
          <li class="mb-2">
            Department of Computer Science, Faculty of Science, Sétif 1
            <br />
            University- Ferhat ABBAS, 19137, Setif, Algeria
          </li>
          <li class="mb-2">
            <a href="tel:03620126">03620126</a>
          </li>
          <li class="mb-2">
            <a href="mailto:ufas1-huawei-ict@gmail.com"
              >ufas1-huawei-ict@gmail.com</a
            >
          </li>
          <li class="mb-2">
            <a href="mailto:ufas1-huawei-ict@univ-setif.dz"
              >ufas1-huawei-ict@univ-setif.dz</a
            >
          </li>
        </ul>
        <div class="university-logo mt-3">
          <!-- You can add the university logo here -->
        </div>
      </div>
    </div>

    <!-- Copyright Bar -->
    <div class="row mt-4">
      <div class="col-12">
        <hr class="border-secondary" />
        <p class="text-center mb-0">
          &copy; 2024 UFAS 1 ICT Academy. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
