<!-- Courses Section -->
<section class="py-5" id="courses">
  <div class="container">
    <h2 class="text-center mb-5">Our Technology Tracks</h2>
    <div class="row g-4">
      {% for course in courses %}
      <div class="col-lg-4 col-md-6">
        <div class="card course-card">
          <img
            src="{{ course.image.url }}"
            class="card-img-top"
            alt="{{ course.name }}"
          />
          <div class="card-body text-center">
            <h3>{{ course.name }}</h3>
            <p>{{ course.description }}</p>
            <a
              href="{{course.forward_link}}"
              class="btn btn-outline-primary mt-3"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
