<!-- Gallery Section -->
<section class="py-5" id="gallery">
  <div class="container">
    <h2 class="text-center mb-5">Photo Gallery</h2>
    
    <div class="row g-4">
      {% for image in gallery_images %}
      <div class="col-lg-4 col-md-6">
        <div class="card gallery-card">
          <a href="{{ image.image.url }}" data-lightbox="academy-gallery" data-title="{{ image.title }}">
            <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>