<!-- Join Us Section -->
<section id="join-us" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5">Join us</h2>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card h-100 bg-info text-white">
          <div class="card-body text-center p-5">
            <h3 class="mb-4">ICT Academy Students</h3>
            <p>
              You are a student at the university and would like to join the ICT
              Academy program and obtain your certification.
            </p>
            <a
              href="https://e.huawei.com/en/talent/ict-academy/#/become-ict-student"
              class="btn btn-outline-light mt-3"
              >Click here</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100 bg-primary text-white">
          <div class="card-body text-center p-5">
            <h3 class="mb-4">ICT Academy Trainers</h3>
            <p>
              If you are a teacher and would like to become an ICT Academy
              trainer and take charge of training a group of students
            </p>
            <a
              href="https://e.huawei.com/en/talent/#/ict/become-ict-teacher"
              class="btn btn-outline-light mt-3"
              >Click here</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
