<!-- Statistics Section -->
<section class="py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-md-6">
        <div class="counter-box">
          <div class="counter">5000+</div>
          <p>Students Trained</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-box">
          <div class="counter">95%</div>
          <p>Job Placement Rate</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-box">
          <div class="counter">100+</div>
          <p>Industry Partners</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter-box">
          <div class="counter">50+</div>
          <p>Professional Courses</p>
        </div>
      </div>
    </div>
  </div>
</section>
